.container{
    display: flex;
    flex-direction: column;
    background-color: #855e15;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}
.title{
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
.subtitle{
    font-size: 23px;
    margin-bottom: 20px;
    text-align: center;
}
.result{
    font-size: 23px;
}
.input{
    width: 40%;
    padding: 10px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.539);
    border-radius: 7px;
    border-style:solid;
    text-align: center;
}
.botones{
    width: 100%;
}
.button{
    width: 10%;
    padding: 10px;
    margin-left: 150px;
    border-radius: 7px;
    background-color: #c5b675;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}